<section class="pt-xlarge pb-small p-relative bg-dark-1">
    <div class="container">
        <div class="col-md-6 mx-auto text-center">
          {% include "partials/breadcrumbs.njk" %}
          <h1 class="xl mt-0 color-light-1 split-lines">{{ title }}</h1>
          <p class="split-lines">{{ description }}</p>
        </div>
    </div>
</section>
