:root {
  --easing-1: 0.5s cubic-bezier(0.79, 0, 0.07, 0.88);
  --radius-1: 25px;
  --radius-2: 15px;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  text-rendering: optimizeLegibility;
  font-family: var(--font-primary);
  line-height: 1.4;
  color: var(--color-text);
  background: var(--color-dark-1);
}

.scrollContainer {
  background-color: var(--color-dark-1);
}

img,
video {
  display: block;
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
}

a {
  color: inherit;
  text-decoration: none;
}
