.transition-fade {
  opacity: 1;
  transform: translateY(0px);
  transition: 0.2s ease-in-out;
}

html.is-animating .transition-fade {
  opacity: 0;
  transform: translateY(40px);
}

html.is-rendering .transition-fade {
  opacity: 0;
  transform: translateY(-40px);
}

.swup-progress-bar {
  height: 3px;
  background-color: var(--color-accent-1);
  z-index: 999999;
}
