.transition-fade {
  opacity: 1;
  transform: scale(1);
  transition: 0.2s ease-in-out;
}

html.is-animating .transition-fade {
  opacity: 0;
  transform: scale(0.98);
}

html.is-rendering .transition-fade {
  opacity: 0;
  transform: scale(0.98);
}

.swup-progress-bar {
  height: 4px;
  background-color: var(--color-accent-1);
  z-index: 999999;
}
