@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/poppins-v20-latin_latin-ext-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/poppins-v20-latin_latin-ext-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/poppins-v20-latin_latin-ext-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/static/Montserrat-SemiBold.ttf");
}
:root {
  --font-primary: "Poppins";
  --font-secondary: "Montserrat";
  --fs-sm: clamp(10px, 0.7vw, 12px);
  --fs-base: clamp(16px, 1.1vw, 17px);
  --fs-md: clamp(18.4px, 1.5vw, 22.7px);
  --fs-lg: clamp(21.2px, 2.1vw, 30.2px);
  --fs-xl: clamp(24.3px, 2.9vw, 40.3px);
  --fs-xxl: clamp(28px, 3.9vw, 53.7px);
  --fs-xxxl: clamp(32.2px, 5.4vw, 71.5px);
}

.xxl,
.xl,
h1,
.h1,
h2,
.h2 {
  font-family: var(--font-secondary);
  font-weight: 600;
  color: var(--color-heading);
}

h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: var(--font-secondary);
  font-weight: 600;
  color: var(--color-heading);
}

.xxl {
  margin-bottom: 0.5em;
  font-size: var(--fs-xxxl);
  line-height: 1.1;
}

.xl {
  margin-bottom: 0.5em;
  font-size: var(--fs-xxl);
  line-height: 1.1;
}

h1,
.h1 {
  margin-bottom: 0.5em;
  font-size: var(--fs-xl);
  line-height: 1.2;
}

h2,
.h2 {
  margin-bottom: 0.8em;
  font-size: var(--fs-lg);
  line-height: 1.25;
}

h3,
.h3 {
  margin-bottom: 0.8em;
  font-size: var(--fs-md);
  line-height: 1.3;
}

h4,
.h4 {
  margin-bottom: 0.8em;
  font-size: var(--fs-base);
  line-height: 1.4;
}

h5,
.h5 {
  margin-bottom: 0.8em;
  font-size: var(--step--1);
  line-height: 1.4;
}

h6,
.h6 {
  margin-bottom: 1em;
  font-size: var(--step--2);
  line-height: 1.4;
}

.paragraph, p, li {
  margin-bottom: 2em;
  font-family: var(--font-primary);
  font-size: var(--fs-base);
  font-weight: 400;
  line-height: 1.7;
  color: var(--color-text);
}

li {
  margin-bottom: 1em;
}

small,
.small {
  font-size: var(--fs-sm);
  line-height: 1.4;
}

blockquote {
  margin-left: 0;
  padding-left: 2em;
  border-left: 3px solid var(--color-accent-1);
}

.handwrite-md {
  font-family: var(--font-handwrite);
  font-size: var(--fs-xl);
  color: var(--color-accent-1);
}

.handwrite-lg {
  font-family: var(--font-handwrite);
  font-size: var(--fs-xxl);
  color: var(--color-accent-1);
}

.line-parent {
  overflow: hidden;
  margin-top: -0.15em;
  margin-bottom: -0.2em;
  padding-top: 0.15em;
  padding-bottom: 0.1em;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.uppercase {
  text-transform: uppercase;
}

.jn-list li {
  position: relative;
  padding-left: 1.5em;
  margin-bottom: 0.3em;
  line-height: 1.6;
}

.jn-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.6em;
  width: 6px;
  height: 6px;
  background-color: var(--accent-color, #d32f2f);
  border-radius: 50%;
  display: inline-block;
}
