---
title: Organizery skrzyń
category: organizery-skrzyn
---

<section class="pt-xlarge products-category">
<div class="container"> 
  <h1 class="xl split-lines color-light-3 mb-4">{{ title }}</h1>

  {% set products = collections.productCategories[category] %}

  {% if products and products.length %}
    <div class="products-grid">
      {% for product in products %}
        <article class="product-card">
          <h3 class="h2 split-lines color-light-1">{{ product.data.title }}</h3>
          {{ product.templateContent | safe }}
        </article>
      {% endfor %}
    </div>
  {% else %}
    <p>Brak produktów w tej kategorii.</p>
  {% endif %}
  </div>
</section>


