---
lang: en
permalink: /offer/truck-canopy-hard-top/
title: Pick up Canopy
category: Pick up Canopy
---

<section class="pt-xlarge products-category">
<div class="container">
  {% set breadcrumbHome = "Strona glowna" %}
  {% set breadcrumbOffer = "Oferta" %}
  {% set breadcrumbOfferUrl = "/oferta/" %}
  {% if lang == "en" %}
  {% set breadcrumbHome = "Home" %}
  {% set breadcrumbOffer = "Offer" %}
  {% set breadcrumbOfferUrl = "/offer/" %}
  {% endif %}
  <nav class="breadcrumbs uppercase small color-accent-1">
    <a href="{{ langPrefix }}/">{{ breadcrumbHome }}</a>
    <span>|</span>
    <a href="{{ langPrefix }}{{ breadcrumbOfferUrl }}">{{ breadcrumbOffer }}</a>
    <span>|</span>
    <span>{{ title }}</span>
  </nav>
  <h1 class="xl split-lines color-light-1 mb-5 mt-3">{{ title }}</h1>

      <div class="cat-desc-content bg-light-1 p-3 p-md-5 rounded-md">
      <div class="row g-1 g-md-5">
        <div class="col-md-7">
          <div class="description-content">
            <h2>Pickup Truck Bed Canopies / Hardtops</h2>
            <p>Pickup bed canopies are primarily installed to increase the functionality of the cargo area and to protect it from weather conditions.</p>
            <a href="#odescription" class="text-sm">Read more &rarr; </a>
         
          </div>
        </div>
        <div class="col-md-5">
         <div class="sticky">
          <div class="swiper swiper-category">
            <div class="swiper-wrapper"> {% for post in collections.works | byLang(lang) %} <div class="swiper-slide">
                <div class="work-card bg-light-1 rounded-md">
                  <a href="{{ post.data.thumbnail | url }}" class="glightbox work-image-wrap rounded-md" data-gallery="portfolio" data-no-swup>
                    <svg class="img-wrapper-icon" width="34" height="34" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                      <polyline points="8.25 2.75,2.75 2.75,2.75 13.25,13.25 13.25" />
                      <path d="m13.25 2.75-5.5 5.5m3-6.5h3.5v3.5" />
                    </svg> {% workImage "src/" + post.data.thumbnail, post.data.title %} </a>
                </div>
              </div> {% endfor %} </div>
          </div>
          <button class="magnetic swiper-gal swiper-button-prev fade-in" data-strength="60" tabindex="0" aria-label="Previous slide">
            <svg viewBox="0 0 61 61" width="61" height="61" fill="none">
              <circle cx="30.5" cy="30.5" r="30" stroke="var(--color-dark-2)"></circle>
              <path d="M34.5 24L27 31.5L34.5 39" stroke-width="2" stroke="var(--color-dark-2)"></path>
            </svg>
          </button>
          <button class="magnetic swiper-gal swiper-button-next fade-in" data-strength="60" tabindex="0" aria-label="Next slide">
            <svg viewBox="0 0 61 61" width="61" height="61" fill="none">
              <circle cx="30.5" cy="30.5" r="30" stroke="var(--color-dark-2)"></circle>
              <path d="M28 24L35.5 31.5L28 39" stroke-width="2" stroke="var(--color-dark-2)"></path>
            </svg>
          </button>
          <div class="fade-in">
            <div class="swiper-scrollbar bg-light-2"></div>
          </div>
         </div>
        </div>
      </div>
    </div>

  {% set products = collections.productCategories[lang][category] %}

  {% if products and products.length %}
    <div class="products-grid row g-4">
      {% for product in products %}
        <div class="col-md-4 col-lg-3">
        <a href="{{ product.url | url }}">
        <article class="product-card rounded-md">
          {% productImage product.data.productImage, product.data.title %}
          <div class="product-card-content p-4 bg-light-1">
          <h3 class="h4 mt-0 line-clamp-3">{{ product.data.title }}</h3>
          <a href="{{ product.url | url }}" class="color-accent-1 small">Zobacz więcej →</a>
          </div>
        </article>
        </a>
      </div>
      {% endfor %}
    </div>
  {% else %}
    <p>Brak produktów w tej kategorii.</p>
  {% endif %}
  </div>
</section>

<section class="cat-description pt-xlarge" id="description">
  <div class="container">
    <div class="cat-desc-content bg-light-1 p-3 p-md-5 rounded-md">
      <div class="row g-5">
        <div class="col-md-7">
          <div class="description-content">
            <p>Once the canopy is installed, it becomes possible to load the cargo space up to the roof without worrying about items falling out while driving. Side-opening doors provide easy access to items located at the front of the bed.</p>
            <div class="line-x"></div>
            <h3>Better Functionality and Space Organization</h3>
            <p>The canopies are equipped with additional storage compartments in the side doors, allowing you to store smaller, frequently used items that need to be easily accessible.</p>
            <p>Optional dedicated organizers for side compartments are available. Made of durable material, zippered, and removable, they significantly improve access and help maintain order.</p>
            <p>Another option is a camping table mounted inside the roof of the canopy. It can be quickly and easily removed even when the canopy is fully loaded.</p>
            <p>It’s also possible to add storage compartments on the other side of the canopy and in the front, on the wall adjacent to the vehicle's cabin.</p>
            <div class="line-x"></div>
            <h3>Roof Rails and Additional Equipment</h3>
            <p>All our canopies come with roof rails that allow you to mount additional cargo such as a roof tent, kayaks, roof boxes, or other accessories.</p>
            <p>One of the available options is the installation of a slide-out platform on the bed floor. Once fully extended, the platform can tilt down to touch the ground, making loading and unloading much easier.</p>
            <h3>Materials and Construction</h3>
            <div class="line-x"></div>
            <p>The canopies are made of a lightweight yet highly durable aluminum-magnesium alloy. This provides an unmatched weight-to-load-bearing ratio in its class.</p>
            <h3>Technical Specifications</h3>
            <h4>Canopy for smaller vehicles (Hilux, Ranger, D-Max)</h4>
            <ul>
              <li>Weight: 62 kg</li>
              <li>Static load capacity: 500 kg</li>
              <li>Dynamic load capacity: 300 kg</li>
            </ul>
            <div class="line-x"></div>
            <h4>Canopy for larger vehicles (Dodge Ram, Ford F-150, Toyota Tundra)</h4>
            <ul>
              <li>Weight: 82 kg</li>
              <li>Static load capacity: 600 kg</li>
              <li>Dynamic load capacity: 350 kg</li>
            </ul>
            <div class="line-x"></div>
            <h3>Alternative Canopy Variants</h3>
            <p>In addition to standard canopies level with the vehicle roof, we also offer lowered canopies, so-called half-canopies, as well as racks and bed organizers.</p>
            <p>These solutions are designed for users transporting roof tents or boxes who wish to retain the ability to enter underground garages or reduce vehicle height to lower fuel consumption on long routes.</p>
            <p>We also offer organizers that take up half the cargo bed, intended for transporting smaller loads. A key advantage is that they can be installed without removing the roll cover found on many modern pickups.</p>
            <div class="line-x"></div>
            <h3>What You Should Know Before Buying a Pickup Canopy</h3>
            <ul>
              <li>You should clearly define the purpose of the canopy and any potential usage limitations.</li>
              <li>If the goal is to maximize cargo space, the best choice is a canopy with the highest roofline.</li>
              <li>If the canopy is intended to carry a roof tent and total vehicle height is a concern, consider lower canopies or bed organizers.</li>
              <li>Keep in mind that a heavy canopy, roof tent, and additional load may exceed the suspension’s comfortable operating weight. A lightweight canopy, though more expensive, may eliminate the need for upgraded suspension.</li>
              <li>The method of assembly and installation is crucial. Canopies requiring adhesives or sealants increase the risk of installation errors, leaks, or dirt accumulation.</li>
              <li>Every canopy should come with a clear installation manual. Lack of instructions extends assembly time and can cause issues during later use.</li>
              <li>Canopies must have a third brake light in accordance with regulations, unless the vehicle already has one on the tailgate from the factory.</li>
            </ul>
            <p>We encourage you to contact us before purchasing to help choose the best solution tailored to your individual needs.</p>
          </div>
        </div>
        <div class="col-md-5">
         <div class="sticky">
          <div class="swiper swiper-category">
            <div class="swiper-wrapper"> {% for post in collections.works | byLang(lang) %} <div class="swiper-slide">
                <div class="work-card bg-light-1 rounded-md">
                  <a href="{{ post.data.thumbnail | url }}" class="glightbox work-image-wrap rounded-md" data-gallery="portfolio" data-no-swup>
                    <svg class="img-wrapper-icon" width="34" height="34" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                      <polyline points="8.25 2.75,2.75 2.75,2.75 13.25,13.25 13.25" />
                      <path d="m13.25 2.75-5.5 5.5m3-6.5h3.5v3.5" />
                    </svg> {% workImage "src/" + post.data.thumbnail, post.data.title %} </a>
                </div>
              </div> {% endfor %} </div>
          </div>
          <button class="magnetic swiper-gal swiper-button-prev fade-in" data-strength="60" tabindex="0" aria-label="Previous slide">
            <svg viewBox="0 0 61 61" width="61" height="61" fill="none">
              <circle cx="30.5" cy="30.5" r="30" stroke="var(--color-dark-2)"></circle>
              <path d="M34.5 24L27 31.5L34.5 39" stroke-width="2" stroke="var(--color-dark-2)"></path>
            </svg>
          </button>
          <button class="magnetic swiper-gal swiper-button-next fade-in" data-strength="60" tabindex="0" aria-label="Next slide">
            <svg viewBox="0 0 61 61" width="61" height="61" fill="none">
              <circle cx="30.5" cy="30.5" r="30" stroke="var(--color-dark-2)"></circle>
              <path d="M28 24L35.5 31.5L28 39" stroke-width="2" stroke="var(--color-dark-2)"></path>
            </svg>
          </button>
          <div class="fade-in">
            <div class="swiper-scrollbar bg-light-2"></div>
          </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</section>











