.accordion {
  position: relative;
  width: 100%;
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
  z-index: 9;
}

.accordion .title {
  padding-right: 3.2em;
  line-height: 1.3;
}

.icon {
  width: 20px;
  height: 3px;
  background: var(--color-accent-1);
  opacity: 0.7;
  border-radius: 2px;
  position: absolute;
  top: 48%;
  right: 2em;
}

.icon:before {
  content: "";
  width: 20px;
  height: 3px;
  background: var(--color-accent-1);
  border-radius: 50%;
  transition: all 0.8s;
  -webkit-animation-timing-function: cubic-bezier(0.79, 0, 0.07, 0.88);
  animation-timing-function: cubic-bezier(0.79, 0, 0.07, 0.88);
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.accordion.open .icon:before {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

.panel {
  max-height: 0;
  transition: all 0.8s cubic-bezier(0.79, 0, 0.07, 0.88);
  overflow: hidden;
}

.panel p {
  margin: 0 0 1em;
}

@media (min-width: 767px) {
  .accordion:after {
    font-size: 1vw;
    left: -5em;
  }
  .icon {
    width: 20px;
    height: 3px;
    background: var(--color-accent-1);
    opacity: 0.7;
    border-radius: 2px;
    position: absolute;
    top: 48%;
    right: 3em;
  }
}
