.button-anim {
  display: inline-flex;
  align-items: center;
  padding: 0.8em 0.35em 0.7em 2em;
  border-radius: 12px;
  border: none;
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: var(--color-accent-1);
  background: linear-gradient(0deg, var(--color-accent-2) 0%, var(--color-accent-1) 100%);
  color: #fff;
  cursor: pointer;
}

.button-anim-text {
  position: relative;
  margin-right: 1.3em;
  overflow: hidden;
}

.button-anim-text span {
  display: inline-block;
  transition: 0.5s cubic-bezier(0.79, 0, 0.07, 0.88);
}

.button-anim-text span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
}

.button-anim:hover .button-anim-text span:nth-child(1) {
  transform: translateY(-100%);
}

.button-anim:hover .button-anim-text span:nth-child(2) {
  transform: translateY(0%);
}

.button-anim-icon {
  position: relative;
  padding: 0.65em 0.6em 0.35em;
  background: #fff;
  border-radius: 50%;
}

.button-anim-icon::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--color-accent-2);
  outline: 1px solid var(--color-accent-2);
  transform: scale(0);
  transition: 0.5s cubic-bezier(0.79, 0, 0.07, 0.88);
}

.icon-arrow {
  stroke: var(--color-accent-1);
}

.icon-line {
  position: absolute;
  bottom: 28%;
  left: 25%;
  width: 52%;
  height: 1px;
  background: var(--color-accent-1);
}

.icon-pencil {
  transition: 0.35s cubic-bezier(0.79, 0, 0.07, 0.88);
  animation: pencilWrite 1.5s infinite cubic-bezier(0.79, 0, 0.07, 0.88);
}

.icon-pencil path {
  transition: 0.35s cubic-bezier(0.79, 0, 0.07, 0.88);
}

.icon-line {
  transition: background-color 0.35s cubic-bezier(0.79, 0, 0.07, 0.88);
  animation: lineWrite 1.5s infinite cubic-bezier(0.79, 0, 0.07, 0.88);
}

.button-anim-icon svg {
  position: relative;
  transition: all 0.35s cubic-bezier(0.79, 0, 0.07, 0.88);
}

@keyframes pencilWrite {
  0% {
    transform: translateX(-15%) translateY(0%) rotate(0deg) scale(1);
  }
  50% {
    transform: translateX(38%) translateY(-10%) rotate(-45deg) scale(0.9);
  }
  100% {
    transform: translateX(-15%) translateY(0%) rotate(-360deg) scale(1);
  }
}
@keyframes lineWrite {
  0% {
    width: 0%;
  }
  50% {
    left: 25%;
    width: 52%;
  }
  90% {
    left: 65%;
    right: 0%;
    width: 0%;
  }
  100% {
    width: 0%;
  }
}
@media (min-width: 767px) {
  .button-anim:hover .button-anim-icon::before {
    transform: scale(1);
  }
  .button-anim:hover .button-anim-icon .icon-pencil path {
    fill: #fff;
  }
  .button-anim:hover .button-anim-icon .icon-line {
    height: 1px;
    background-color: #fff;
  }
  .button-anim:hover .button-anim-icon .icon-link path,
  .button-anim:hover .button-anim-icon .icon-link polygon,
  .button-anim:hover .button-anim-icon .icon-dollar path {
    fill: #fff;
  }
  .button-anim:hover .button-anim-icon .icon-arrow {
    stroke: #fff;
  }
}
