.offer-card {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}

.offer-card::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(13, 3, 3) 100%);
  opacity: 0.5;
  pointer-events: none;
  transition: 0.9s cubic-bezier(0.83, 0, 0.17, 1);
  z-index: 1;
}

.offer-card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0em 1em 1em 1em;
  z-index: 9;
}

.offer-card-image img {
  aspect-ratio: 9/10;
  object-fit: cover;
  transform: scale(1);
  transition: 0.9s cubic-bezier(0.83, 0, 0.17, 1);
}

.offer-card-arrow {
  position: absolute;
  bottom: 2em;
  right: 2em;
}

.offer-card-title {
  color: #fff;
}

@media (min-width: 767px) {
  .offer-card-content {
    padding: 1em 6em 0em 2em;
  }
  .offer-card-arrow {
    bottom: 1em;
    right: 2em;
    transform: scale(0);
    transition: 0.9s cubic-bezier(0.83, 0, 0.17, 1);
    z-index: 9;
  }
  .offer-card:hover .offer-card-arrow {
    transform: scale(1);
  }
  .offer-card:hover .offer-card-image img {
    transform: scale(1.1);
  }
  .offer-card:hover::before {
    opacity: 0.8;
  }
}
.video-embed-sec {
  width: 100%;
  aspect-ratio: 6/5;
  position: relative;
  overflow: hidden;
}

.video-embed-sec iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  height: 150%;
  transform: translate(-50%, -50%);
  border: 0;
}

.video-embed-sec-small {
  width: 100%;
  aspect-ratio: 25/10;
  position: relative;
  overflow: hidden;
}

.video-embed-sec-small img {
  height: 100%;
  object-fit: cover;
}

.video-embed-sec-small iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  height: 150%;
  transform: translate(-50%, -50%);
  border: 0;
}
