.site-footer  {
    position: relative;
    background: var(--color-dark-1);
}
/*
.foot-bg-wrap {
   position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color-dark-1);
    background-image: url("/assets/img/logo-big.png");
    background-size: cover;
    background-position: bottom;
  z-index: 0;
  opacity: .05;
}
  */

.footer-logo {
    width: 265px;
    margin-bottom: 8px;
}

.footer-bottom {
    border-top: 1px solid #9993;
}

.footer-svg {
    opacity: .1;
}

.footer-list {
    padding-left: 0
}

.footer-list li {
    margin-bottom: .4em;
    list-style: none;
    font-size: 14px;
    color: #ddd;
    opacity: .75;
}

.footer-list li a {
    transition: .3s ease-in-out;
}

.footer-list li a:hover {
    font-size: 14px;
    color: var(--color-accent-1)
}

.policy-list {
    padding-left: 0;
}

.policy-list li {
    margin-bottom: 1em;
    margin-right: 2em;
    display: inline-block;
    list-style: none;
    font-size: 12px;
    color: #ddd;
    opacity: .75;
}

.copy-text {
    font-size: 12px;
    color: #ddd;
    opacity: .75;
}

@media(min-width:767px) {
    .policy-list {
    text-align: end;
}
}