
.yt-full {
  position: relative;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  aspect-ratio: 5 / 9;
  overflow: hidden;
}

.yt-full iframe,
.yt-full video {
  position: absolute;
  inset: 0;
  width: 260%;
  height: 100%;
  border: 0;
  overflow: hidden;
  object-fit: cover;
}

.yt-full iframe {
  pointer-events: none;
}

.yt-full video {
  pointer-events: auto;
}
.w-100 {
width: 100%
}

.hero-video {
  position: relative;
  overflow: hidden;
}

.hero-video::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
  z-index: 1
}

.hero-content {
  position: absolute;
  inset: 0;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  color: #fff;
  z-index: 1;
}

@media(min-width:767px) {
    .yt-full {
  aspect-ratio: 20 / 9;
}

.yt-full iframe,
.yt-full video {
  width: 100%;
  height: 100%;
}
}
