---
lang: pl
layout: "layouts/base-hero.njk"
permalink: /en/downloads/
title: Downloads
description: Download assembly instructions for our products.
---

<section class="pt-xlarge pb-large">
  <div class="container"> {% include "partials/breadcrumbs.njk" %} 
    <h1 class="xl split-lines color-light-3 mb-4 mt-3 mb-5">Assembly instructions</h1>
    <div class="row g-4">
      <div class="col-md-3">
        <div class="catalog-wrap rounded-md">

        <a href="/assets/downloads/Instrukcja_montazu-Platforma_wysuwana_do_pickupa_JD12_EN.pdf" class="btn-catalog" target="_blank">
          <div class="catalog-preview">
            <img src="/assets/downloads/instrukcjajd12-okladka-en.png" alt="Okładka instrukcja montażu - Platforma wysuwana JD12">
          </div>
        </a>

        </div>
      </div>
      <div class="col-md-4">
        <div class="catalog-wrap rounded-md">


        </div>
      </div>
    </div>
  </div>
</section>
