---
lang: en
layout: layouts/base.njk
title: Mapa strony
description: Mapa witryny
---

<section class="pt-xlarge pb-xlarge" data-scroll-section>
  <div class="container">
    <div class="col-md-6 mx-auto">

        <h2 class="split-text-lines">Strony</h2>
        <div class="line-x"></div>
        <ul class="pt-xsmall">
            <li class="fadeIn my-4">
              <a href="{{ langPrefix }}/realizacje/" title="Realizacje">Realizacje</a>
            </li>
            <div class="line-x lx-op"></div>
            <div class="line-x lx-op"></div>
            <li class="fadeIn my-4">
                <a href="{{ langPrefix }}/oferta/" title="Oferta">Oferta</a>
            </li>
            <div class="line-x lx-op"></div>
            <li class="fadeIn my-4">
                <a href="{{ langPrefix }}/kontakt/" title="Kontakt">Kontakt</a>
            </li>
            <div class="line-x lx-op"></div>
        </ul>

    </div>
  </div>
</section>


