---
lang: en
layout: "layouts/base-hero.njk"
permalink: /sendform/
title: Send form
description: 
robots: noindex
---


<section class="pt-xlarge pb-xlarge">
    <div class="cotainer">
        <h2>Wysłano formularz</h2>
    <div>
</section>
<section class="pt-xlarge pb-xlarge"></section>


