  <section class="hero-video">
    <div class="hero-content">
    <div class="container w-100">
      <div class="col-md-8 col-xl-6">
      <p class="uppercase small color-accent-1 mb-2 fade-in">Jusn design </p>
      <h1 class="xl split-lines color-light-1 mt-0">{{ title }}</h1>
      </div>
    </div>
    </div>
    <div class="yt-full">
      <iframe width="100%" height="100%" src="https://www.youtube-nocookie.com/embed/Xt9oo08gl8U?autoplay=1&mute=1&loop=1&playlist=Xt9oo08gl8U&controls=0&rel=0&modestbranding=1&playsinline=1" title="YouTube video player" frameborder="0" allow="autoplay; encrypted-media; picture-in-picture" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    </section>
