  <section class="hero-video">
    <div class="hero-content">
    <div class="container w-100">
      <div class="col-md-8 col-xl-6">
      <p class="uppercase small color-accent-1 mb-2 fade-in">Jusn design </p>
      <h1 class="xl split-lines color-light-1 mt-0">{{ title }}</h1>
      </div>
    </div>
    </div>
    <div class="yt-full">
      <video autoplay muted loop playsinline preload="none" poster="/assets/img/hero/poster.png" aria-label="Jusn design video background">
        <source src="/assets/video/hero.mp4" type="video/mp4">
      </video>
    </div>
    </section>
