  <section class="hero-video">
    <div class="hero-content">
    <div class="container w-100">
        <h1 class="xl split-lines color-light-1 col-md-6">{{ title }}</h1>
    </div>
    </div>
<div class="yt-full">
<iframe
  src="https://www.youtube-nocookie.com/embed/Xt9oo08gl8U?autoplay=1&mute=1&loop=1&playlist=Xt9oo08gl8U&controls=0&rel=0"
  title="YouTube video"
  allow="autoplay; encrypted-media"
  referrerpolicy="strict-origin-when-cross-origin"
  allowfullscreen>
</iframe>
</div>
    </section>

