  <section>
<div class="yt-full">
  <iframe
    src="https://www.youtube.com/embed/Xt9oo08gl8U?autoplay=1&loop=1&mute=1&controls=0&rel=0&modestbranding=1"
    title="YouTube video"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen>
  </iframe>
</div>
    </section>

<style>
.yt-full {
  position: relative;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.yt-full iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: 0;
  pointer-events: none
}

  </style>