<section class="tools bg-dark-3">
    <div class="container p-relative">
        <div class="pt-xxlarge pb-xxlarge text-center">
            <p class="handwrite-lg fade-in mt-5 mb-4 my-md-3 color-light-3">
                    Narzędzia których używam
                </p>
        </div>


            <div class="tool-item">
              <div class="d-flex align-items-center gap-1">
              <img loading="lazy" src="/assets/img/tools/ic-eleventy.webp" alt="github logo"  class="me-2" width="16" height="16">
                <span>Eleventy.js</span>
              </div>
            </div>

                        <!-- Tool 2: GitHub -->
            <div class="tool-item">
              <div class="d-flex align-items-center gap-1">
                <img loading="lazy" src="/assets/img/tools/ic-netlify.webp" alt="github logo"  class="me-2" width="16" height="16">
                <span>Netlify</span>
              </div>
            </div>

                        <!-- Tool 3: GitHub -->
            <div class="tool-item">
              <div class="d-flex align-items-center gap-1">
                <img loading="lazy" src="/assets/img/tools/ic-wordpress.webp" alt="github logo"  class="me-2" width="16" height="16">
                <span>Wordpress</span>
              </div>
            </div>

                        <!-- Tool 4: GitHub -->
            <div class="tool-item">
              <div class="d-flex align-items-center gap-1">
                <img loading="lazy" src="/assets/img/tools/ic-eleventy.webp" alt="github logo"  class="me-2" width="16" height="16">
                <span>VS Code</span>
              </div>
            </div>

                        <!-- Tool 5: GitHub -->
            <div class="tool-item">
              <div class="d-flex align-items-center gap-1">
                <img loading="lazy" src="/assets/img/tools/ic-eleventy.webp" alt="github logo"  class="me-2" width="16" height="16">
                <span>ChatGPT</span>
              </div>
            </div>

                        <!-- Tool 6: GitHub -->
            <div class="tool-item">
              <div class="d-flex align-items-center gap-1">
                <img loading="lazy" src="/assets/img/tools/ic-eleventy.webp" alt="github logo"  class="me-2" width="16" height="16">
                <span>Bootstrap</span>
              </div>
            </div>

                        <!-- Tool 7: GitHub -->
            <div class="tool-item">
              <div class="d-flex align-items-center gap-1">
                <img loading="lazy" src="/assets/img/tools/ic-gsap.webp" alt="github logo"  class="me-2" width="16" height="16">
                <span>GSAP</span>
              </div>
            </div>

                        <!-- Tool 8: GitHub -->
            <div class="tool-item">
              <div class="d-flex align-items-center gap-1">
                <img loading="lazy" src="/assets/img/tools/ic-eleventy.webp" alt="github logo"  class="me-2" width="16" height="16">
                <span>Make</span>
              </div>
            </div>

                        <!-- Tool 9: GitHub -->
            <div class="tool-item">
              <div class="d-flex align-items-center gap-1">
                <img loading="lazy" src="/assets/img/tools/ic-hotjar.webp" alt="github logo"  class="me-2" width="16" height="16">
                <span>Hotjar</span>
              </div>
            </div>

                        <!-- Tool 10: GitHub -->
            <div class="tool-item">
              <div class="d-flex align-items-center gap-1">
                <img loading="lazy" src="/assets/img/tools/ic-senuto.webp" alt="github logo"  class="me-2" width="16" height="16">
                <span>Senuto</span>
              </div>
            </div>

                                    <!-- Tool 11: GitHub -->
            <div class="tool-item">
              <div class="d-flex align-items-center gap-1">
                <img loading="lazy" src="/assets/img/tools/ic-eleventy.webp" alt="github logo"  class="me-2" width="16" height="16">
                <span>Trello</span>
              </div>
            </div>

                                    <!-- Tool 12: GitHub -->
            <div class="tool-item">
              <div class="d-flex align-items-center gap-1">
                <img loading="lazy" src="/assets/img/tools/ic-eleventy.webp" alt="github logo"  class="me-2" width="16" height="16">
                <span>Figma</span>
              </div>
            </div>

                                    <!-- Tool 13: GitHub -->
            <div class="tool-item">
              <div class="d-flex align-items-center gap-1">
                <img loading="lazy" src="/assets/img/tools/ic-meet.webp" alt="github logo"  class="me-2" width="16" height="16">
                <span>Meet</span>
              </div>
            </div>

            <!-- Tool 14: GitHub -->
            <div class="tool-item">
              <div class="d-flex align-items-center gap-1">
                <img loading="lazy" src="/assets/img/tools/ic-eleventy.webp" alt="github logo"  class="me-2" width="16" height="16">
                <span>GitHub</span>
              </div>
            </div>

    </div>
</section>

<style>
.tool-item {
  position:absolute;
  top:11%;
  left:13%;
  right:auto;
  padding:4px 12px;
  width:fit-content;
  border-radius:13px;
  border: 1px solid #20385b;
  background: #15253d;
  color:#fff;
  font-size:var(--fs-sm);
  transition:1s
}
.tool-item img {
  width:16px;
  height:16px
}
.tool-item:nth-child(1) {
  top:14%;
  left:15%;
  right:auto
}
.tool-item:nth-child(2) {
  top:29%;
  left:4%;
  right:auto
}
.tool-item:nth-child(3) {
  top:20%;
  left:28%;
  right:auto
}
.tool-item:nth-child(4) {
  top:38%;
  left:18%;
  right:auto
}
.tool-item:nth-child(5) {
  top:60%;
  left:10%;
  right:auto
}
.tool-item:nth-child(6) {
  top:72%;
  left:22%;
  right:auto
}
.tool-item:nth-child(7) {
  top:83%;
  left:15%;
  right:auto
}
.tool-item:nth-child(8) {
  top:11%;
  left:auto;
  right:17%
}
.tool-item:nth-child(9) {
  top:20%;
  left:auto;
  right:7%
}
.tool-item:nth-child(10) {
  top:29%;
  left:auto;
  right:26%
}
.tool-item:nth-child(11) {
  top:38%;
  left:auto;
  right:10%
}
.tool-item:nth-child(12) {
  top:60%;
  left:auto;
  right:20%
}
.tool-item:nth-child(13) {
  top:72%;
  left:auto;
  right:11%
}
.tool-item:nth-child(14) {
  top:83%;
  left:auto;
  right:25%
}
@media(min-width:767px) {
.tools .container {
 background: url("/assets/img/template/bgr-globe.svg"); 
 background-size: cover; 
 background-position: center
}
.tool-item {
  top: 14%;
  left: 15%;
  font-size: var(--fs-base);
}
  .tool-item img {
    width: 21px;
    height: 21px
  }
 .tool-item:nth-child(1) {
  top: 14%;
  left: 15%;
  right: auto;
}
 .tool-item:nth-child(2) {
  top: 35%;
  left: 4%;
  right: auto;
}
 .tool-item:nth-child(3) {
  top: 27%;
  left: 28%;
  right: auto;
}
 .tool-item:nth-child(4) {
  top: 46%;
  left: 18%;
  right: auto;
}
 .tool-item:nth-child(5) {
  top: 61%;
  left: 6%;
  right: auto;
}
 .tool-item:nth-child(6) {
  top: 66%;
  left: 26%;
  right: auto;
}
 .tool-item:nth-child(7) {
  top: 79%;
  left: 15%;
  right: auto;
}
 .tool-item:nth-child(8) {
  top: 13%;
  left: auto;
  right: 11%;
}
 .tool-item:nth-child(9) {
  top: 25%;
  left: auto;
  right: 27%;
}
 .tool-item:nth-child(10) {
  top: 36%;
  left: auto;
  right: 4%;
}
 .tool-item:nth-child(11) {
  top: 45%;
  left: auto;
  right: 21%;
}
 .tool-item:nth-child(12) {
  top: 57%;
  left: auto;
  right: 9%;
}
 .tool-item:nth-child(13) {
  top: 72%;
  left: auto;
  right: 25%;
}
 .tool-item:nth-child(14) {
  top: 80%;
  left: auto;
  right: 9%;
}
}

</style>