<section class="p-relative" id="realizacje">
  <div class="pb-medium rounded-xl bg-light-1">
  <div class="container">
        <div class="pb-5">
            <h2 class="xl mt-0 split-lines">
                Zobacz nasze realizacje
            </h2>
        </div>

    <div class="row align-items-center">
      {% for post in collections.works | byLang(lang) %}
             <div class="col-md-4">
                    <div class="work-card bg-light-1 rounded-md">
                        <a href="{{ post.data.thumbnail | url }}" 
                           class="glightbox work-image-wrap rounded-md" 
                           data-no-swup
                           data-gallery="portfolio"
                           data-glightbox="title: {{ post.data.title }}; description: .custom-desc-{{ loop.index }}">
                            {% workImage "src/" + post.data.thumbnail, post.data.title %}
                        </a>
                        <div class="work-text-wrap p-4">
                            <p class="mt-0 mb-1 small">
                                {{ post.data.client }}
                            </p>
                            <h3 class="mt-0 mb-3">
                                {{ post.data.title }}
                            </h3>
                        </div>
                        
                        <!-- Ukryty opis dla lightboxa -->
                        <div class="glightbox-desc custom-desc-{{ loop.index }}" style="display: none;">
                            <p class="mt-0 mb-2 small"><strong>Klient:</strong> {{ post.data.client }}</p>
                        </div>
                    </div>
             </div>
      {% endfor %}
    </div>

  </div>
  </div>
</section>

<style>
   .work-card-link {
   color: var(--color-heading)
   }
</style>
